@model JogoViewModel

<div class="row">

    <div class="col-6 col-sm-6 col-lg-6 text-center jogo_time_1">
        <span class="placar-esq-d">@Model.Resultado_1</span>
        <img src="~/img/escudo/@Model.Escudo_1" />
        <h2>@Model.Time_1</h2>
    </div>
    <div class="col-6 col-sm-6 col-lg-6 text-center jogo_time_2">
        <span class="placar-dir-d">@Model.Resultado_2</span>
        <img src="~/img/escudo/@Model.Escudo_2" />
        <h2>@Model.Time_2</h2>
    </div>

</div>

<hr />

<center>
</center>

<div class=" text-center">
    <span class="badge badge-success">@Model.Categoria</span>
    <span class="badge badge-info">@Model.Fase</span>
    <span class="badge badge-warning">@Model.Data_Hora</span>
</div>

<hr />

<div class="row jumbotron jumbotron-fluid">

    <div class="col-6 col-sm-6 col-lg-6 text-center jogo_time_1">

        <ul class="list-group">
            @foreach (var item in Model.Jogadores_1) {

                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="text-left">
                        <h6>@item.Jogador</h6>
                    </div>
                    <span class="text-muted">
                        @for (int i = 0; i < item.Gols; i++) {
                            <img src="~/img/bolinha.png" width="15" />
                        }
                    </span>
                </li>
            }
        </ul>

    </div>

    <div class="col-6 col-sm-6 col-lg-6 text-center jogo_time_2">

        <ul class="list-group">
            @foreach (var item in Model.Jogadores_2) {

                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="text-left">
                        <h6>@item.Jogador</h6>
                    </div>
                    <span class="text-muted">
                        @for (int i = 0; i < item.Gols; i++) {
                            <img src="~/img/bolinha.png" width="15" />
                        }
                    </span>
                </li>

            }
        </ul>

    </div>

</div>


@section Scripts {
    @Html.Partial("_Scripts")
}