@model List<Jogos>

<h1>Selecionar Jogo</h1>


    <div class="row">

        <div class="col-md-12 order-md-1">

            <hr />

            <div class="row">


                @foreach (var jogo in Model) {

                    <div class="col-md-6">
                        <div class="card mb-4 shadow-sm">

                            <div class="col-12 text-center p-2 text-white bg-secondary ">
                                <strong>@jogo.Fase.Categoria | @jogo.Fase.Nome</strong>
                            </div>

                            <div class="row mt-4">

                                <div class="col-6 text-center jogo_time_1">
                                    <a href="/jogos/time/2">
                                        <img src="/img/escudo/@jogo.Time_1.Escudo" class="escudo">
                                        <br>
                                        <strong>@jogo.Time_1.Nome</strong>
                                    </a>
                                </div>

                                <div class="col-6 text-center jogo_time_2">
                                    <a href="/jogos/time/4">
                                        <img src="/img/escudo/@jogo.Time_2.Escudo" class="escudo">
                                        <br>
                                        <strong>@jogo.Time_2.Nome</strong>
                                    </a>
                                </div>
                            </div>

                            <div class="card-body">
                                <p class="card-text text-center">
                                    Data: <u>@jogo.Data_Hora.ToString("dd/MM/yyyy")</u> | Horário: <u>@jogo.Data_Hora.ToString("HH:mm")</u>
                                </p>

                                <div class=" align-items-right text-center">
                                    <div class="btn-group">

                                        <a href="/admin/adicionargol/@jogo.Id" class="btn btn-sm btn-secondary">Informar Gols</a>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                }

            </div>

        </div>

    </div>





























